.header{
    font-size:47px;
    position: sticky;
    top: 0px;
    background-color:black;
    z-index: 2;
}
.header .title{
    padding: 10px 0px;
    text-align:center;
    text-transform:uppercase;
}
.red-dot {
    display: none;
    fill: red;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
