.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: fadeIn 0.3s ease-in-out;
}
.modalClose{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 0.3s;
    opacity: 0;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: rgba(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.infoModal{
    text-align: left;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.titleModal{
    line-height:32px;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
}
.countMenu{
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.countItems{
    align-items: center;
    background-color: white;
    height: 100%;
    font-size: 14px;
    padding: 17px 0px;
    border-radius: 5px;
    color: black;
    font-weight: 300;
    line-height:22px;
}
.countItems img{
    display: flex;
    text-align: center;
    align-items: center;
    opacity: 0.5;
    width: 50%;
    margin: 0 auto;
    cursor:pointer;
}
.itemDescription{
    font-size: 14px;
    font-weight: 300;
}